/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/*==================== LAYOUT ====================*/
.container {
  margin-left: 6vw;
  margin-right: 6vw;
}

.section {
  padding: 6rem 0 3rem;
}
.small__section {
  padding: 4rem 0 4rem;
}
